<div class="form-wrap-input validate-input" data-validate="É preciso informar um e-mail.">
  <input class="form-input" name="email" type="email" />
  <span class="focus-form-input" data-placeholder="Email"></span>
</div>

<div class="form-wrap-input validate-input" data-validate="É preciso informar uma senha.">
  <span class="btn-show-pass">
    <i class="zmdi zmdi-eye"></i>
  </span>
  <input class="form-input" name="pass" type="password" />
  <span class="focus-form-input" data-placeholder="Senha atual"></span>
</div>

<div class="form-wrap-input validate-input" data-validate="É preciso informar uma senha.">
  <span class="btn-show-pass">
    <i class="zmdi zmdi-eye"></i>
  </span>
  <input class="form-input" name="new-pass" type="password" />
  <span class="focus-form-input" data-placeholder="Nova senha"></span>
</div>

<div class="form-wrap-input validate-input" data-validate="É preciso informar uma senha.">
  <span class="btn-show-pass">
    <i class="zmdi zmdi-eye"></i>
  </span>
  <input class="form-input" name="new-pass-confirmation" type="password" />
  <span class="focus-form-input" data-placeholder="Repita a senha"></span>
</div>