<div class="form-wrap-input validate-input" data-validate="É preciso informar o nome do usuário.">
  <input class="form-input" name="first_name" type="text" />
  <span class="focus-form-input" data-placeholder="Nome"></span>
</div>

<div class="form-wrap-input validate-input" data-validate="É preciso informar o sobrenome do usuário.">
  <input class="form-input" name="last_name" type="text" />
  <span class="focus-form-input" data-placeholder="Sobrenome"></span>
</div>

<div class="form-wrap-input validate-input" data-validate="É preciso informar o e-mail do usuário.">
  <input class="form-input" name="email" type="e-mail" />
  <span class="focus-form-input" data-placeholder="E-Mail"></span>
</div>

<div class="form-wrap-team-input">
  <span class="radio-team-label">Departamento</span>
  <div class="radio-team-container general-text">
    <div class="radio-team-item">
      <input type="radio" id="depA" name="team" value="Dep A" checked="checked">
      <label for="depA">Dep A</label>
    </div>
    <div class="radio-team-item">
      <input type="radio" id="depB" name="team" value="Dep B">
      <label for="depB">Dep B</label>  
    </div>
    <div class="radio-team-item">
    <input type="radio" id="depC" name="team" value="Dep C">
    <label for="depC">Dep C</label>
    </div>
  </div>
</div>